// COLORS

$color-primary: #ffbbcc;
$color-primary--1: #ffcccc;
$color-primary--2: #f2a7ba;
$color-primary---3: #f29bb1;
$color-primary--4: #f28fa8;
$color-primary-dark: #a65a6d;

$color-secondary--1: #6da65a;
$color-secondary--2: #5aa680;
$color-secondary--3: #93a65a;
$color-secondary--4: #96e67b;

$color-third--1: #5a80a6;
$color-third--2: #6d5aa6;
$color-third--3: #5aa680;
$color-third--4: #7bb0e6;

$color-forth--1: #a6775a;
$color-forth--2: #a68a5a;
$color-forth--3: #a6645a;

$color-grey-light: #ddd;
$color-grey-dark: #555;
$color-dark: #333;

$color-photo-light: #98ccce;
$color-photo-dark: #75aaac;
$color-photo-dark-2: #427779;

$color-hotel-light: #98c3c5;
$color-hotel-dark: #769193;
$color-hotel-dark-2: #436060;

$color-grid-light: #b8b4b4;
$color-grid-dark: #969292;
$color-grid-dark-2: #636060;

$color-game-light: #cebbab;
$color-game-dark: #ac9989;
$color-game-dark-2: #796656;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; //  800px
$bp-small: 37.5em; //  600px
$bp-smallest: 31.25em; //  500px
