// COLORS
$color-primary: #c72727;
$color-secondary: #f77500;
$color-light: #f3f3f3;
$color-dark: #333;
$color-grey: #555;

$color-sport: #f77500;
$color-ent: #a66bbe;
$color-tech: #009ccf;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; //  800px
$bp-small: 37.5em; //  600px
$bp-smallest: 31.25em; //  500px
